---
title: Currency for iOS
---

<header>

    <img
      class="app-icon"
      width="124"
      height="124"
      src="/images/app_icon.png"
      alt="Currency for iOS icon"
    >
  <h1><%= t(:title) %></h1>
  <h2><%= t(:tagline) %></h2>
  <a href="">
    <img
      class="app-store-badge"
      width="179"
      height="56"
      src="/images/<%= t(:app_store_badge_image_url) %>"
      alt="Currency for iOS icon"
    >
  </a>
</header>

<main>
  <div class="app-overview callouts-hidden">
    <div class="iphone">
      <video width="298" height="530" muted autoplay loop
        poster="/images/app-screen-recording.jpg">
        <source src="/videos/app-screen-recording.mp4"  type="video/mp4">
        <source src="/videos/app-screen-recording.ogg"  type="video/ogg">
        <source src="/videos/app-screen-recording.webm" type="video/webm">
      </video>
    </div>
    <p class="callout-1"><%= t(:callout_1) %></p>
    <p class="callout-2"><%= t(:callout_2) %></p>
    <p class="callout-3"><%= t(:callout_3) %></p>
  </div>
  <div class="developer-quote">
    <blockquote>
      <%= t(:developer_quote_body) %>
    </blockquote>
    <p>
      <small>
        <a href="http://twitter.com/nunosans/" target="_blank">
          <%= t(:developer_quote_name) %>
        </a><br>
        <%= t(:developer_quote_title) %>
      </small>
    </p>
  </div>
</main>

<footer>
  <ul>
    <li>
      <a href="http://nunocoelhosantos.com/" target="_blank">&copy; Nuno Coelho Santos 2016</a>
    </li>
    <li>
      <a href="/archives/<%= t(:press_kit_link) %>"><%= t(:press_kit) %> <i class="icon download-icon"></i></a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/zh_hans">中文(简体)</a>
    </li>
    <li>
      <a href="/zh_hant">中文(繁體)</a>
    </li>
    <li>
      <a href="/">English</a>
    </li>
    <li>
      <a href="/es">Español</a>
    </li>
    <li>
      <a href="/ja">日本語</a>
    </li>
    <li>
      <a href="/pt">Português</a>
    </li>
  </ul>
</footer>
