---
title: Currency for iOS
---

<header>

    <img
      class="app-icon"
      width="124"
      height="124"
      src="/images/app_icon.png"
      alt="Currency for iOS icon"
    >
  <h1><%= t(:title) %></h1>
  <h2><%= t(:tagline) %></h2>
  <a
    class="app-store-badge"
    href="https://itunes.apple.com/app/currency-simple-currency-calculator/id1109685198?mt=8"
  >
    <img
      width="179"
      height="56"
      src="/images/<%= t(:app_store_badge_image_url) %>"
      alt="Currency for iOS icon"
    >
    <small><%= t(:free) %></small>
  </a>
</header>

<main>
  <div class="app-overview callouts-hidden">
    <div class="iphone">
      <video
        width="298"
        height="530"
        poster="/images/app_screen_recording.jpg"
        autobuffer autoplay autostart muted loop
      >
        <source src="/videos/app_screen_recording.mp4">
        <source src="/videos/app_screen_recording.ogg"  type="video/ogg">
        <source src="/videos/app_screen_recording.webm" type="video/webm">
      </video>
    </div>
    <p class="callout-1"><%= t(:callout_1) %></p>
    <p class="callout-2"><%= t(:callout_2) %></p>
    <p class="callout-3"><%= t(:callout_3) %></p>
  </div>
  <img
    class="seo-image"
    src="/images/currency_for_ios_by_nuno_coelho_santos_1.jpg"
    width=""
    height=""
    alt="View of Currency for iOS – A free currency converter and calculator by Nuno Coelho Santos"
  >
  <img
    class="seo-image"
    src="/images/currency_for_ios_by_nuno_coelho_santos_2.jpg"
    width=""
    height=""
    alt="View of Currency for iOS – A free currency converter and calculator by Nuno Coelho Santos"
  >
  <img
    class="seo-image"
    src="/images/currency_for_ios_by_nuno_coelho_santos_3.jpg"
    width=""
    height=""
    alt="View of Currency for iOS – A free currency converter and calculator by Nuno Coelho Santos"
  >
  <div class="developer-quote">
    <blockquote>
      <%= t(:developer_quote_body) %>
    </blockquote>
    <p>
      <small>
        <a href="http://twitter.com/nunosans/" target="_blank">
          <%= t(:developer_quote_name) %>
        </a><br>
        <%= t(:developer_quote_title) %>
      </small>
    </p>
  </div>
</main>

<footer>
  <ul>
    <li>
      <a href="http://nunocoelhosantos.com/" target="_blank">&copy; Nuno Coelho Santos 2017</a>
    </li>
    <li>
      <a href="/archives/Currency_for_iOS_Press_Kit.zip"><%= t(:press_kit) %> <i class="icon download-icon"></i></a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/zh_hans">中文(简体)</a>
    </li>
    <li>
      <a href="/zh_hant">中文(繁體)</a>
    </li>
    <li>
      <a href="/">English</a>
    </li>
    <li>
      <a href="/es">Español</a>
    </li>
    <li>
      <a href="/ja">日本語</a>
    </li>
    <li>
      <a href="/pt">Português</a>
    </li>
  </ul>
</footer>
